LOG=info
INTERVAL=30s

MQTT_BROKER=x.x.x.x:1883
MQTT_USER=<mqtt user>
MQTT_PASSWORD=<mqtt password>

# Uncomment below to comment out influx from config.
#DISABLE_INFLUX=#

INFLUX_URL=http://x.x.x.x:8086
INFLUX_DATABASE=evcc_log
INFLUX_TOKEN=<influx token>
INFLUX_ORG=<influx org>

DONGLE_ID=dongle-40:4C:CA:xx:xx:xx

TESLA_BLE_PROXY=http://x.x.x.x:8080
TESLA_VIN=<tesla vin>
